<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EARLY</key>
	<dict>
		<key>0</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>9</string>
					<string>6</string>
					<string>2</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>10</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>9</string>
					<string>2</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>9</string>
					<string>8</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>6</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>7</string>
					<string>8</string>
					<string>9</string>
					<string>10</string>
				</array>
			</dict>
		</dict>
		<key>1</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>6</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>10</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>8</string>
					<string>2</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>10</string>
				</array>
				<key>LOW</key>
				<array>
					<string>6</string>
					<string>10</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>6</string>
					<string>10</string>
				</array>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>6</string>
					<string>2</string>
					<string>1</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>6</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>10</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>6</string>
					<string>2</string>
					<string>1</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>6</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>10</string>
				</array>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>6</string>
					<string>2</string>
					<string>1</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>6</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>10</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>6</string>
					<string>2</string>
					<string>1</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>6</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>10</string>
				</array>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>6</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>6</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>10</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>6</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>6</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>10</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>ACTIVE</key>
	<dict>
		<key>0</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>6</string>
					<string>9</string>
					<string>10</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>3</string>
					<string>6</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>6</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>6</string>
					<string>9</string>
					<string>10</string>
				</array>
			</dict>
		</dict>
		<key>1</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>9</string>
					<string>10</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>LATE_ACTIVE</key>
	<dict>
		<key>0</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>6</string>
					<string>9</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>6</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>6</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>6</string>
					<string>9</string>
				</array>
			</dict>
		</dict>
		<key>1</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>9</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>2</string>
					<string>3</string>
					<string>8</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>7</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>TRANSITION</key>
	<dict>
		<key>0</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>2</string>
					<string>5</string>
					<string>6</string>
				</array>
				<key>LOW</key>
				<array>
					<string>2</string>
					<string>5</string>
					<string>6</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
		</dict>
		<key>1</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>LOW</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>5</string>
					<string>6</string>
					<string>9</string>
					<string>11</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>PUSHING</key>
	<dict>
		<key>0</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
		</dict>
		<key>1</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>4</string>
					<string>6</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>TOO_LOW</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>TOO_HIGH</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
			<key>JUST_RIGHT</key>
			<dict>
				<key>ASLEEP</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>LOW</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
				<key>NORMAL</key>
				<array>
					<string>1</string>
					<string>4</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
