<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>walk</key>
	<dict>
		<key>type</key>
		<string></string>
	</dict>
	<key>stand</key>
	<dict>
		<key>type</key>
		<string>upright</string>
	</dict>
	<key>leanOnWall</key>
	<dict>
		<key>type</key>
		<string>upright</string>
	</dict>
	<key>rockingChair</key>
	<dict>
		<key>type</key>
		<string>upright</string>
	</dict>
	<key>sitBackwardsOnChair</key>
	<dict>
		<key>type</key>
		<string>upright</string>
	</dict>
	<key>sitOnBirthBall</key>
	<dict>
		<key>type</key>
		<string>upright</string>
	</dict>
	<key>sit</key>
	<dict>
		<key>type</key>
		<string>upright</string>
	</dict>
	<key>lungeOnStair</key>
	<dict>
		<key>type</key>
		<string>upright</string>
	</dict>
	<key>kneel</key>
	<dict>
		<key>type</key>
		<string>upright</string>
	</dict>
	<key>squat</key>
	<dict>
		<key>type</key>
		<string>upright</string>
	</dict>
	<key>lieOnSide</key>
	<dict>
		<key>type</key>
		<string>horizontal</string>
	</dict>
	<key>lieOnBack</key>
	<dict>
		<key>type</key>
		<string>horizontal</string>
	</dict>
	<key>allFours</key>
	<dict>
		<key>type</key>
		<string>inverted</string>
	</dict>
	<key>toilet</key>
	<dict>
		<key>type</key>
		<string>inverted</string>
	</dict>
	<key>buttInAir</key>
	<dict>
		<key>type</key>
		<string>inverted</string>
	</dict>
</dict>
</plist>
