<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>walk</key>
	<dict>
		<key>type</key>
		<string>upright</string>
		<key>canSleep</key>
		<false/>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>stand</key>
	<dict>
		<key>type</key>
		<string>upright</string>
		<key>canSleep</key>
		<false/>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>96</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>leanOnWall</key>
	<dict>
		<key>type</key>
		<string>upright</string>
		<key>canSleep</key>
		<false/>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>rockingChair</key>
	<dict>
		<key>type</key>
		<string>upright</string>
		<key>canSleep</key>
		<true/>
		<key>ZxPos</key>
		<integer>0</integer>
		<key>ZyPos</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>sitBackwardsOnChair</key>
	<dict>
		<key>type</key>
		<string>upright</string>
		<key>canSleep</key>
		<true/>
		<key>ZxPos</key>
		<integer>0</integer>
		<key>ZyPos</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>sitOnBirthBall</key>
	<dict>
		<key>type</key>
		<string>upright</string>
		<key>canSleep</key>
		<false/>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>sit</key>
	<dict>
		<key>type</key>
		<string>upright</string>
		<key>canSleep</key>
		<false/>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>tub</key>
	<dict>
		<key>type</key>
		<string>upright</string>
		<key>canSleep</key>
		<true/>
		<key>ZxPos</key>
		<integer>0</integer>
		<key>ZyPos</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>204</integer>
		<key>dilationYPos</key>
		<integer>228</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>lunge</key>
	<dict>
		<key>type</key>
		<string>upright</string>
		<key>canSleep</key>
		<false/>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>kneel</key>
	<dict>
		<key>type</key>
		<string>upright</string>
		<key>canSleep</key>
		<false/>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>squat</key>
	<dict>
		<key>type</key>
		<string>upright</string>
		<key>canSleep</key>
		<true/>
		<key>ZxPos</key>
		<integer>0</integer>
		<key>ZyPos</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>lieOnSide</key>
	<dict>
		<key>type</key>
		<string>horizontal</string>
		<key>canSleep</key>
		<true/>
		<key>ZxPos</key>
		<integer>0</integer>
		<key>ZyPos</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>233</integer>
		<key>dilationYPos</key>
		<integer>178</integer>
		<key>copingXPos</key>
		<integer>415</integer>
		<key>copingYPos</key>
		<integer>4</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>lieOnBack</key>
	<dict>
		<key>type</key>
		<string>horizontal</string>
		<key>canSleep</key>
		<true/>
		<key>ZxPos</key>
		<integer>0</integer>
		<key>ZyPos</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>allFours</key>
	<dict>
		<key>type</key>
		<string>inverted</string>
		<key>canSleep</key>
		<false/>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>313</integer>
		<key>dilationYPos</key>
		<integer>234</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>toilet</key>
	<dict>
		<key>type</key>
		<string>upright</string>
		<key>canSleep</key>
		<false/>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>buttInAir</key>
	<dict>
		<key>type</key>
		<string>inverted</string>
		<key>canSleep</key>
		<false/>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>slowDance</key>
	<dict>
		<key>type</key>
		<string></string>
		<key>canSleep</key>
		<false/>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>shower</key>
	<dict>
		<key>type</key>
		<string></string>
		<key>canSleep</key>
		<false/>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
	<key>ragDoll</key>
	<dict>
		<key>type</key>
		<string>horizontal</string>
		<key>canSleep</key>
		<true/>
		<key>ZxPos</key>
		<integer>0</integer>
		<key>ZyPos</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>dilationXPos</key>
		<integer>254</integer>
		<key>dilationYPos</key>
		<integer>141</integer>
		<key>copingXPos</key>
		<integer>0</integer>
		<key>copingYPos</key>
		<integer>0</integer>
		<key>copingFlipHorizontal</key>
		<false/>
		<key>copingFlipVertical</key>
		<false/>
	</dict>
</dict>
</plist>
